body {
    color: rgb(255,
            255,
            255);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.w {
    width: 1226px;
    margin: auto;

}

/* 头部 */

.header_back {
    background-color: rgb(51,
            51,
            51);
    height: 40px;
}

.header {

    height: 40px;
    font-size: 12px;
    color: rgb(176,
            176,
            148);
}

.header>.nav {
    float: left;
    height: 40px;
    line-height: 40px;

}

.nav>a {
    color: rgb(176,
            176,
            148);
    padding: 5px;
}

.sep {
    color: rgb(61,
            66,
            66);
}

.shoppingcar {
    float: right;
    height: 40px;
    background-color: rgb(66,
            66,
            66);
    line-height: 40px;
    width: 120px;
    margin-left: 20px;

}

.shoppingcar>a {
    padding-left: 45px;
    font-size: 12px;
    color: rgb(176,
            176,
            148);


}

.register {
    float: right;
    height: 40px;
    line-height: 40px;
}

.register>a {
    color: rgb(176,
            176,
            148);
    padding: 5px;
}

.header a:hover {
    color: #fff;
}

/* content1 */
.content1 {
    height: 100px;

}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    margin: 22px 0px;

}

.logo img {
    width: 100%;
}

.c1_nav {
    float: left;
    width: 615px;
    height: 15px;
    margin-left: 169px;
    margin-top: 42.5px;
    margin-bottom: 42.5px;

}

.c1_nav>a {
    float: left;
    font-size: 14px;
    color: rgb(51,
            51,
            51);
    display: inline-block;
    margin-right: 15px;
    font-weight: 500;
}

.c1_nav>a:hover {
    color: rgb(255,
            103,
            0);
}

.bo {
    background-image: url(img/search.jpg);
    float: left;
    width: 52px;
    height: 50px;
    border: 1px solid rgba(159, 158, 158, .3)
}

.c1_search {
    margin-left: 30px;
    float: left;
    width: 297px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* c2 */
.c2 {
    height: 460px;

    background-image: url(img/bg2.jpg);
    margin-bottom: 15px;
}



.c2_nav {
    float: left;
    width: 234px;
    height: 460px;
    background-color: rgb(63,
            61,
            63);

}

.c2_nav a {
    display: block;
    width: 234px;
    height: 42px;
    font-size: 14px;
    color: rgb(255,
            255,
            255);

}

.c2_span_left {
    float: left;
    line-height: 42px;
    margin-left: 30px;
}

.c2_span_right {
    float: right;
    line-height: 42px;
    margin-right: 30px;
}

.c2_nav a:hover {
    background-color: rgb(255,
            103,
            0);
}

.c2_pic {
    float: left;
    width: 992px;
    height: 460px;
}

/* c3 */
.c3 {
    height: 170px;
    margin-bottom: 30px;
}

.c3_1 {
    float: left;
    width: 232px;
    height: 168px;
    background-color: #5f5750;
}

.c3_1 img {

    display: block;
    width: 24px;
    height: 24px;

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.c3_1 h4 {
    text-align: center;
    color: #c9c4c0;
    font-weight: 300;
    font-size: 12px;
}

.c3_1 h4:hover {
    color: #fff;
}

.c3_2 {
    float: left;
    width: 316px;
    height: 170px;
    background-color: #fffdfc;
    margin-left: 14px;
}

.c3_2:hover {
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.5);
}



.c3_1>a {
    float: left;
    width: 76px;
    height: 82px;
    background-color: #5f5750;
    border: #665e57 1px dotted;
    border-collapse: collapse;
}

/* c4 */
.c4 {
    height: 200px;
    background-color: #f5f5f5;
    padding-top: 50px;
}



.c4_1 {

    display: block;
    height: 170px;
    width: 1226px;

}

/* fixed_box */
.fixed_box {
    position: fixed;
    right: 0px;
    top: 350px;
    right: 10px;
    width: 84px;
    height: 455px;
    background-color: #7a0c0c;
}

.fixed_box_1 {
    width: 84px;
    height: 91px;

}

.fixed_box_1 img {
    width: 100%;
}